{% extends 'home/master.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/problem/create_problem.css' %}" />


<div class="create-problem-container">

<form id="createProblemForm"
    {% if problem_type == "public" %}
        action="{% url 'create-problem' %}"
    {% elif problem_type == "contest" %}
        action="{% url 'create-contest-problem' contest.id %}"
    {% endif %}

    method="POST">

    {% csrf_token %}

    <h2>Create Problem</h2>

    <div class="rules">
        <h3>
            Standard:
        </h3>
        <br>

        <p>
            * For testcases, every space & newline counts
        </p>
        

    </div>

    <br><br>

    <div class="form-group">
        <input class="form-input" type="text" name="title" id="title" placeholder=" " required>
        <label class="form-label" for="title">Problem Title</label>
    </div>

    <div class="form-group">
        <textarea class="form-input form-textarea" name="statement" id="statement" placeholder=" " required></textarea>
        <label for="statement" class="form-label">Problem Statement</label>
    </div>

    <div class="form-group">
        <textarea class="form-input form-textarea" name="problem_input" id="inputDescription" placeholder=" " required></textarea>
        <label for="inputDescription" class="form-label">Input Description</label>
    </div>

    <div class="form-group">
        <textarea class="form-input form-textarea" name="problem_output" id="outputDescription" placeholder=" " required></textarea>
        <label for="outputDescription" class="form-label">Output Description</label>
    </div>

    <div class="form-group">
        <textarea class="form-input form-textarea" name="note" id="note" placeholder=" "></textarea>
        <label for="note" class="form-label">Note (optional)</label>
    </div>
    

    <label for="difficulty">Difficulty:</label>
    <select name="difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
        <option value="challenging">Challenging</option>
    </select>


    <div class="form-group">
        <input class="form-input" type="number" name="time_limit" id="time_limit" placeholder=" " value="1">
        <label class="form-label" for="time_limit">Time Limit</label>
    </div>

    <div class="form-group">
        <input class="form-input" type="number" name="memory_limit" id="memory_limit" placeholder=" " value="512">
        <label class="form-label" for="memory_limit">Memory Limit</label>
    </div>


    <div class="divider"></div>

    <h3 class="section-title">Test Cases</h3>

    <input type="hidden" name="testcases" id="testcasesInput">

    <div id="testcases-container"></div>

    <button type="button" class="btn btn-add" onclick="addTestcase()">
        Add Test Case
    </button><br>

    <button type="submit" class="btn btn-submit">
        Create Problem
    </button>

</form>

</div>

<script>

let testcaseCounter = 0;

function addTestcase(){
    const container = document.getElementById("testcases-container")

    const inputId = `testcaseInput-${testcaseCounter++}`;
    const outputId = `testcaseOutput-${testcaseCounter++}`;

    const div = document.createElement("div")
    div.classList.add("testcase")

    div.innerHTML = `

        <div class="form-group">
            <textarea class="form-input form-textarea testcase_input" id="${inputId}" placeholder=" " required></textarea>
            <label for="${inputId}" class="form-label">Input</label>
        </div>

        <div class="form-group">
            <textarea class="form-input form-textarea testcase_output" id="${outputId}" placeholder=" " required></textarea>
            <label for="${outputId}" class="form-label">Expected Output</label>
        </div>

        <div class="testcase-footer">
            <label class="toggle">
                <input class="hidden_testcase" type="checkbox" checked>
                <span class="slider"></span>
                <span class="toggle-text">Hidden Test Case</span>
            </label>

            <button type="button" class="btn btn-remove"
                onclick="this.parentElement.parentElement.remove()">
                Remove
            </button>
        </div>
    `

    container.appendChild(div)
}

function collectTestcases() {
    const blocks = document.querySelectorAll(".testcase");

    let storeTestcases = [];

    blocks.forEach( block => {
        const testcase_input = block.querySelector(".testcase_input").value;
        const testcase_output = block.querySelector(".testcase_output").value;
        const hidden_testcase = block.querySelector(".hidden_testcase").checked;
    
        storeTestcases.push({
            testcase_input: testcase_input,
            testcase_output: testcase_output,
            hidden_testcase: hidden_testcase,
        });
    });

    return storeTestcases;
}


addTestcase();

document.getElementById("createProblemForm").addEventListener("submit", function () {
    const collectedTestcases = collectTestcases();

    // Convert the entire list into a string
    document.getElementById("testcasesInput").value = JSON.stringify(collectedTestcases);

    // console.log(document.getElementById("testcasesInput").value);
    
});



</script>


{% endblock %}









