{% extends 'home/master.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home/check_limit.css' %}" />

<div class="api-form-wrapper">
    <div class="api-form-card">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>URL</label>
                <input type="text" name="api" required>
            </div>

            <div class="form-group">
                <label>Limit</label>
                <input type="number" name="limit" min="1" required>
            </div>

            <div class="form-group">
                <label>Delay</label>
                <input type="number" name="delay" min="0" required>
            </div>

            <button type="submit" class="submit-btn">
                Start
            </button>
        </form>
    </div>
</div>


{% endblock %}