{% load static %}

<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeBoost</title>
    <link rel="icon" href="{% static 'image/other/codeboost.png' %}">

    <link rel="stylesheet" href="{% static 'css/home/master.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    {% load socialaccount %}

    <div id="logoModal" class="logoModal" onclick="closeLogo()">
        <img id="modalLogo">
    </div>

    <div class="desktop-only-navbar">
        <nav class="navbar">

            <button class="logo-icon">
                <img onclick="openLogo(this.src)" class="logo-icon-img" src="{% static 'image/other/codeboost.png' %}" />

                <span>
                    <div class="logo">
                        <a href="{% url 'home' %}">CodeBoost</a>
                    </div>
                </span>
            </button>


            <div class="nav-links">
                <a class="nav-links-a" href="{% url 'home' %}">Home</a>
                <a class="nav-links-a" href="{% url 'problems' %}">Problems</a>
                <a class="nav-links-a" href="{% url 'submission' %}">Submissions</a>
                <a class="nav-links-a" href="{% url 'contests' %}">Contests</a>
                <!-- <a class="nav-links-a" href="#">Leaderboard</a> -->

                <!-- Auth -->
                {% if request.user.is_authenticated %}
                <div class="nav-profile">
                    <button class="nav-profile-btn" id="profileBtn">
                        <img src="{{ request.user.userprofile.avatar }}" />
                        <span>{{ request.user.userprofile.display_name }}</span>
                    </button>


                    <div class="nav-profile-menu" id="profileMenu">
                        <a href="">

                            <div class="view-profile-grid">
                                <div class="view-profile-grid-image">
                                    <img src="{{ request.user.userprofile.avatar }}">
                                </div>
                                <div class="menu-header">
                                    <strong>{{ request.user.userprofile.display_name }}</strong>
                                    <small>View profile</small>
                                </div>
                            </div>

                        </a>
                        <!-- <a href="#">Settings & privacy</a>
                        <a href="#">Help & support</a>
                        <a href="#">Display & accessibility</a> -->

                        <div class="menu-divider"></div>

                        <a href="{% url 'logout' %}" class="logout">Log out</a>
                    </div>



                </div>
                {% else %}
                    <button id="loginBtn" class="nav-btn">Login</button>
                {% endif %}



            </div>
        </nav>
    </div>






    <!-- Mobile Responsive -->
    <div class="mobile-only-navbar">
      <nav class="navbar">
        <!-- Left Toggle -->
        <button class="mobile-toggle" id="leftToggle">☰</button>

        <!-- Center Logo -->

        <button class="logo-icon">
            <img onclick="openLogo(this.src)" class="logo-icon-img" src="{% static 'image/other/codeboost.png' %}" />

            <span>
                <div class="logo">
                    <a href="{% url 'home' %}">CodeBoost</a>
                </div>
            </span>
        </button>


        <!-- <div class="nav-center-logo">
          <a href="{% url 'home' %}" class="logo">StudyRoom</a>
        </div> -->

        <!-- Right Toggle -->
        <button class="mobile-toggle" id="rightToggle">
            <i class="fa-solid fa-user"></i>
        </button>
      </nav>

      <!-- Overlay -->
      <div class="drawer-overlay" id="draweroverlay"></div>

      <!-- LEFT DRAWER -->
      <div class="mobile-drawer left-drawer" id="leftDrawer">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'problems' %}">Problems</a>
        <a href="{% url 'submission' %}">Submissions</a>
        <a href="{% url 'contests' %}">Contests</a>
        <!-- <a href="">Contests</a> -->
        <!-- <a href="">Leaderboard</a> -->
      </div>

      <!-- RIGHT DRAWER -->
      <div class="mobile-drawer right-drawer" id="rightDrawer">

        {% if request.user.is_authenticated %}

        <!-- Profile Header -->
        <a href="">
          <div class="view-profile-grid">
            <div class="view-profile-grid-image">
              <img src="{{ request.user.userprofile.avatar }}"/>
            </div>
            <div class="menu-header">
              <strong>{{ request.user.userprofile.display_name }}</strong>
              <small>View profile</small>
            </div>
          </div>
        </a>

        <!-- <a href="#">Settings & privacy</a> -->
        <!-- <a href="#">Help & support</a> -->
        <!-- <a href="#">Display & accessibility</a> -->

        <div class="menu-divider"></div>

        <div class="drawer-auth">
          <a href="{% url 'logout' %}" class="mobile-logout-btn">
            <span class="mobile-logout">Log out</span>
          </a>
        </div>

        {% else %}

        <div class="drawer-auth">
          <button id="mobileLoginBtn" class="mobile-login-btn">
            Login
          </button>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- Mobile Responsive -->




    <div class="modal" id="loginModal">
        <div class="modal-content">
            <h3>Login to CodeBoost</h3>

            <!-- Google Login Button -->
            <a href="{% provider_login_url 'google' %}" class="btn-google">
                <img src=" https://res.cloudinary.com/dxd9uxsfv/image/upload/v1773589312/ck9h9xcxmqmmuahs58jj.png" alt="Google Logo">
                Continue with Google
            </a>
        </div>
    </div>


    {% block content %}

    {% endblock %}

    <footer class="footer">
        © 2026 CodeBoost — Built for Competitive Programmers. Developed by <a
            href="https://www.mdimrankhansiam.pro.bd/">Imran Khan</a>.
    </footer>



    <script>

        


        const authenticatedUser = "{{ request.user.is_authenticated }}" === "True";

        
        // Nav Profile

        document.addEventListener("DOMContentLoaded", function () {
            const profileBtn = document.getElementById("profileBtn");
            const profileMenu = document.getElementById("profileMenu");

            if (!profileBtn || !profileMenu) return;

            // Toggle menu
            profileBtn.addEventListener("click", function (e) {
                e.stopPropagation();
                profileMenu.classList.toggle("show");
            });


            // Close on outside click
            document.addEventListener("click", function () {
                profileMenu.classList.remove("show");
            });


            // Prevent closing when clicking inside
            profileMenu.addEventListener("click", function (e) {
                e.stopPropagation();
            });

            // Close with ESC
            document.addEventListener("keydown", function (e) {
                if (e.key === "Escape") {
                    profileMenu.classList.remove("show");
                }
            });
        });


        // Nav Profile




        // Mobile Responsive

        

        const masterleftToggle = document.getElementById("leftToggle");
        const masterrightToggle = document.getElementById("rightToggle");
        const masterleftDrawer = document.getElementById("leftDrawer");
        const masterrightDrawer = document.getElementById("rightDrawer");
        const masteroverlay = document.getElementById("draweroverlay");

        masterleftToggle.onclick = () => {
        masterleftDrawer.classList.toggle("active");
        masteroverlay.classList.toggle("active");
        };

        masterrightToggle.onclick = () => {
        masterrightDrawer.classList.toggle("active");
        masteroverlay.classList.toggle("active");
        };

        masteroverlay.onclick = () => {
        masterleftDrawer.classList.remove("active");
        masterrightDrawer.classList.remove("active");
        masteroverlay.classList.remove("active");
        };

        // Mobile Responsive






        const params = new URLSearchParams(window.location.search);

        if ( !authenticatedUser ) {

        // Modal

            const loginModal = document.getElementById("loginModal");
            


            const loginBtn = document.getElementById("loginBtn");
            const mobileLoginBtn = document.getElementById("mobileLoginBtn");

            const loginParams = params.get("login");

            if (loginParams === "progress") {
                loginModal.classList.add("active");
                loginModal.onclick = (e) => {
                    if (e.target === loginModal) loginModal.classList.remove("active");
                };
            }


            loginBtn.onclick = () => {
                loginModal.classList.add("active");
            };

            mobileLoginBtn.onclick = () => {
                loginModal.classList.add("active");
            };


            loginModal.onclick = (e) => {
                if (e.target === loginModal) loginModal.classList.remove("active");
            };

        }


        // Logo Modal
        function openLogo(src) {
            const logoModal = document.getElementById("logoModal");
            const logo = document.getElementById("modalLogo");
            logo.src = src;
            logoModal.style.display = "flex";
        }

        function closeLogo() {
            document.getElementById("logoModal").style.display = "none";
        }


    </script>
</body>

</html>