{% extends 'home/master.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/user_profile/user_profile.css' %}">


{% block content %}

<p>
    User Profile {{ target_user.userprofile.display_name }}
</p>

<select id="yearDropdown"></select>

<br><br><br>

<div id="heatmapDiv">

</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/min/moment-with-locales.min.js"></script>
<script src="{% static 'js/user_profile/dist/jquery.heatmap.js' %}"></script>


<script>

const currentUserId = "{{ user_id }}";

async function fetchUserdata() {
    try {
        const response = await fetch(`/api/user_profile/user_profile_data/?user_id=${currentUserId}`, {
            method: "GET",
        });

        if (response) {
            const data = await response.json();

            console.log(data['user_data']);
        }

    } catch (error) {
        console.error('Error Fetching Userdata', error);
    }
}

fetchUserdata();


let updatedHeatmapData = {}

fetch(`/api/user_profile/progress_heatmap/?user_id=${currentUserId}`)
  .then(response => response.json())
  .then(data => {
    let heatmapData = data;

    const dropdown = document.getElementById("yearDropdown");

    Object.keys(heatmapData).forEach(year => {
        const option = document.createElement("option");
        option.value = year;
        option.textContent = year;
        dropdown.appendChild(option);
    });

    // Handle change
    dropdown.addEventListener("change", function () {
        onYearChange(this.value);
    });

    updatedHeatmapData = ensureJanuaryAndDecember(heatmapData);

    onYearChange(dropdown.value);
  })
  .catch(error => {
    console.error('Error:', error);
  });
  
// console.log(typeof jQuery);
// console.log(typeof $);
// console.log($.heatmap);

function ensureJanuaryAndDecember(dataByYear) {
    const result = {};

    Object.keys(dataByYear).forEach(year => {
        const entries = dataByYear[year].data;

        let hasJan1 = false;
        let hasDec20 = false;

        entries.forEach(item => {
            const [y, m, d] = item.date.split("-");

            if (m === "01" && d === "01") {
                hasJan1 = true;
            }

            if (m === "12" && d === "24") {
                hasDec20 = true;
            }
        });

        const newData = [...entries];

        if (!hasJan1) {
            newData.push({
                date: `${year}-01-01`,
                count: 0
            });
        }

        if (!hasDec20) {
            newData.push({
                date: `${year}-12-24`,
                count: 0
            });
        }

        result[year] = { data: newData };
    });

    return result;
}


// const heatmapData = {
//   "2022": {
//     data: [
//       { date:'2022-01-01', count:12 },
//       { date:'2022-01-14', count:12 },
//     ]
//   },

//   "2023": {
//     data: [
//       { date:'2023-01-09', count:8 },
//       { date:'2023-01-24', count:14 },
//       { date:'2023-12-01', count:19 }
//     ]
//   },

//   "2026": {
//     data: [
//       { date:'2026-01-05', count:9 },
//       { date:'2026-12-06', count:10 }
//     ]
//   }
// };




// Your function (you control logic)
function onYearChange(year) {
    const container = document.getElementById("heatmapDiv");
    container.innerHTML = "";

    const solvedDiv = document.createElement("div");
    solvedDiv.id = "Solved";
    container.appendChild(solvedDiv);

    data = updatedHeatmapData[year].data

    $('#Solved').heatmap({
      data
    });
}

 

</script>
{% endblock %}