{% extends 'home/master.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/contest/contests.css' %}" />

<section class="contests-section">

    <!-- HEADER -->
    <div class="contests-header">
        <h1>Contests</h1>

        {% if request.user.is_authenticated and perms.contest.add_contest %}
            <button class="create-contest-btn" onclick="window.location.href='{% url 'create-contest' %}'">
                <span class="icon">
                    <i class="fa-solid fa-trophy"></i>
                </span>
                <span class="text">Create Contest</span>
            </button>
        {% endif %}

    </div>

    <br>
    <!-- ACTIVE / UPCOMING -->
    
    <div class="contest-list">

        {% for contest in contests %}
        <div class="contest-card"
                data-start="{{ contest.start_time|date:'c' }}"
                data-end="{{ contest.end_time|date:'c' }}"
                data-registration="{{ contest.registration_deadline|date:'c' }}"
                data-contest_id="{{ contest.id }}"
                data-joined="{% if request.user in contest.participants.all %}true{% else %}false{% endif %}"
                data-admin="{% if request.user.is_staff or request.user == contest.created_by or request.user in contest.moderators.all %}true{% else %}false{% endif %}"
                >

            <!-- TOP -->
            <div class="contest-top">
                <h3 class="contest-title">
                    {{ contest.name }}
                </h3>

                <span class="contest-status">Loading...</span>
            </div>

            <!-- DESCRIPTION -->
            <!-- <p class="contest-desc">
                {{ contest.description|truncatechars:150 }}
            </p> -->

            <!-- INFO ROW -->
            <div class="contest-info">
                <div>📅 Start: {{ contest.start_time }}</div>
                <div>⏱ End: {{ contest.end_time }}</div>
            </div>

            <!-- COUNTDOWN -->
            <div class="contest-countdown">
                ⏳ <span class="countdown-text">Calculating...</span>
            </div>

            <div class="registration-timer">
                📝 <span class="reg-text">Checking...</span>
            </div>

            <!-- FOOTER -->
            <div class="contest-footer">

                <div class="left">
                    👥 {{ contest.participants.count }} participants
                </div>

                <div class="middle">

                    <!-- HOST -->
                    <div class="host">
                        👤 Host:
                        {% if contest.created_by %}
                            <span class="host-name">
                                {{ contest.created_by.userprofile.display_name }}
                            </span>
                        {% else %}
                            <span class="host-name">Unknown</span>
                        {% endif %}
                    </div>

                    <!-- MODERATORS -->
                    <div class="moderators">
                        🛡 Moderators:
                        {% if contest.moderators.all %}
                            
                            {% for mod in contest.moderators.all|slice:":3" %}
                                <span class="mod-name">
                                    {{ mod.userprofile.display_name }}
                                </span>{% if not forloop.last %}, {% endif %}
                            {% endfor %}

                            {% if contest.moderators.count > 3 %}
                                <span class="more-mods">
                                    +{{ contest.moderators.count|add:"-3" }} more
                                </span>
                            {% endif %}

                        {% else %}
                            <span class="mod-name">None</span>
                        {% endif %}
                    </div>

                </div>

                <div class="right">
                    <button class="register-btn">Loading...</button>
                    <button class="action-btn">Loading...</button>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>
    
</section>

<!-- JS -->
<script>



function contestPage(contestId) {
    window.location.href = `/contests/contest_page/${contestId}/`;
}

function contestRegistration(contestId) {
    window.location.href = `/contests/contest_registration/${contestId}/`;
}

function formatTime(diff) {
    if (diff <= 0) return "00:00:00";

    let h = Math.floor(diff / 3600);
    let m = Math.floor((diff % 3600) / 60);
    let s = diff % 60;

    return `${h.toString().padStart(2,'0')}:${m.toString().padStart(2,'0')}:${s.toString().padStart(2,'0')}`;
}

function updateContests() {
    const now = new Date();

    document.querySelectorAll('.contest-card').forEach(card => {

        const start = new Date(card.dataset.start);
        const end = new Date(card.dataset.end);
        const currentContestId = card.dataset.contest_id;
        const joined = card.dataset.joined === "true";
        const isAdmin = card.dataset.admin === "true";
        const regDeadlineStr = card.dataset.registration;
        const regEl = card.querySelector('.reg-text');
        const regContainer = card.querySelector('.registration-timer');

        const regDeadline = new Date(regDeadlineStr);
        const statusEl = card.querySelector('.contest-status');
        const countdownEl = card.querySelector('.countdown-text');
        const btn = card.querySelector('.action-btn');
        const registerBtn = card.querySelector('.register-btn');

        if (!start || !end) return;

        if (now < start) {
            // UPCOMING
            statusEl.innerText = "Upcoming";
            statusEl.style.background = "#2196f3";

            let diff = Math.floor((start - now) / 1000);
            countdownEl.innerText = "Starts in: " + formatTime(diff);
            btn.classList.remove("enter-btn", "view-btn");
            btn.classList.add("locked-btn");
            btn.innerText = "Locked";
            btn.onclick = () => alert("Contest hasn't started yet");

        } else if (now >= start && now <= end) {
            // RUNNING
            statusEl.innerText = "Running";
            statusEl.style.background = "#4CAF50";

            let diff = Math.floor((end - now) / 1000);
            countdownEl.innerText = "Ends in: " + formatTime(diff);
            btn.classList.remove("locked-btn", "view-btn");
            btn.classList.add("enter-btn");
            btn.innerText = "Enter";
            
            btn.onclick = () => {
                contestPage(currentContestId);
            };

        } else {
            statusEl.innerText = "Ended";
            statusEl.style.background = "#777";

            countdownEl.innerText = "Contest finished";
            btn.classList.remove("enter-btn", "locked-btn");
            btn.classList.add("view-btn");
            btn.innerText = "View";
            btn.onclick = () => {
                contestPage(currentContestId);
            };

        }

        if (regDeadlineStr) {
            let regDiff = Math.floor((regDeadline - now) / 1000);

            if (regDiff <= 0) {
                regEl.innerText = "🔒 Registration Closed";
                regContainer.style.color = "#64748b";
            } else {
                regEl.innerText = "Registration closes in: " + formatTime(regDiff);

                if (regDiff < 600) {
                    regContainer.style.color = "#f59e0b";
                } else {
                    regContainer.style.color = "#22c55e";
                }
            }
        } else {
            regContainer.style.display = "none";
        }

        
        
        if (joined) {
            registerBtn.textContent = "Registered ✔";
            registerBtn.classList.add("registered");
            registerBtn.disabled = true;
        }
        else if (now <= regDeadline) {
            registerBtn.textContent = "Register";
            registerBtn.disabled = false;

            registerBtn.onclick = () => {
                contestRegistration(currentContestId);
            };
        }
        else {
            registerBtn.textContent = "Registration Closed";
            registerBtn.classList.add("disabled");
            registerBtn.disabled = true;
        }

        if (isAdmin) {
            console.log('This is admin mf');
            btn.classList.remove("view-btn", "locked-btn");
            btn.classList.add("enter-btn");
            btn.innerText = "Admin Access";
            btn.onclick = () => {
                contestPage(currentContestId);
            };
        }

    });
}

// Run every second
setInterval(updateContests, 1000);
updateContests();

</script>

{% endblock %}